body {
    font-family: 'Karla', sans-serif;
}

body header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background-img {
    background: linear-gradient(35deg, #ccebff, #ffcccb);
}
form {
    background: linear-gradient(35deg, #90cece, #b68180);;
}

label {
    font-size: large;
}

.container {
    width: 40em;
}

@media (max-width: 576px) { 
    .container {
        width: auto;
    }
}

#title {
    position: relative;
    top: 1em;
}

header p {
    position: relative;
    top: 2em;
}

main {
    position: relative;
    display: flex;
}

